.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-child-container {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 700px;
  border-radius: 30px;
  border: 2px solid #b6b4b4;
  box-shadow: 20px 20px 20px #888888;
}

.login-left {
  width: 42%;
  height: 100%;
  position: relative;
  justify-content: flex-start;
  right: 19.3%;
}

.login {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  height: 40px;
  width: 200%;
  position: relative;
  right: 55%;
  border: 1px solid rgb(73, 71, 71);
  outline: none;
  text-indent: 12px;
  /* overflow: hidden; */
  border-radius: 8px;
}

.login-btn {
  background-color: #2f55d4;
  margin-top: 10%;
  width: 105%;
  height: 35px;
  border: none;
  border-radius: 8px;
  position: relative;
  right: 9%;
  cursor: pointer;
  color: #e0e0e0;
  font-size:medium;
}

.login-new {
  color: #2f55d4;
  padding-left: 5px;
  font-size: large;
}

.login-right p {
  margin-left: -25px;
  color: #c1ccf2;
}

.login-left img {
  width: 300px;
  height: 100%;
  margin-left: 20px;
  border-radius: 30px;
}

.login-left p {
  position: absolute;
  bottom: 5%;
  left: 48px;
  color: #2f55d4;
  font-size: large;
}

.login-right h1 {
  color: #2f55d4;
  display: flex;
  position: relative;
  left: 30px;
}

